
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.audioStreaming">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true">
        <service
            android:name="com.audioStreaming.Signal"
            android:enabled="true"
            android:theme="@android:style/Theme.NoTitleBar"/>
    </application>
</manifest>
  